### list_comprehension(快速建立list)
- [ expression for item in iterable ]

In [ ]:
for i in range(1,11):
    print(i)

In [4]:
[i*2 for i in range(1, 11)]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

- [ expression for item in iterable if 條件式]

⬇︎

In [6]:
[i*2 for i in range(1, 11) if i % 2 == 1]

[2, 6, 10, 14, 18]

### map(),filter

In [ ]:
#記憶體內的表格資料

students = [{"姓名":"張xx","age":35,"score":256}, 
            {"姓名":"王xx","age":45,"score":278}, 
            {"姓名":"李xx","age":37,"score":291}]
students

[{'姓名': '張xx', 'age': 35, 'score': 256},
 {'姓名': '王xx', 'age': 45, 'score': 278},
 {'姓名': '李xx', 'age': 37, 'score': 291}]

In [11]:
for student in students:
    print(student)

{'姓名': '張xx', 'age': 35, 'score': 256}
{'姓名': '王xx', 'age': 45, 'score': 278}
{'姓名': '李xx', 'age': 37, 'score': 291}