### list_comprehension(快速建立list)
- [ expression for item in iterable ]

In [ ]:
for i in range(1,11):
    print(i)

In [4]:
[i*2 for i in range(1, 11)]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

- [ expression for item in iterable if 條件式]

⬇︎

In [6]:
[i*2 for i in range(1, 11) if i % 2 == 1]

[2, 6, 10, 14, 18]

### map(),filter

In [ ]:
#記憶體內的表格資料

students = [{"姓名":"張xx","age":35,"score":256}, 
            {"姓名":"王xx","age":45,"score":278}, 
            {"姓名":"李xx","age":37,"score":291}]
students

[{'姓名': '張xx', 'age': 35, 'score': 256},
 {'姓名': '王xx', 'age': 45, 'score': 278},
 {'姓名': '李xx', 'age': 37, 'score': 291}]

In [11]:
for student in students:
    print(student)

{'姓名': '張xx', 'age': 35, 'score': 256}
{'姓名': '王xx', 'age': 45, 'score': 278}
{'姓名': '李xx', 'age': 37, 'score': 291}

In [12]:
students = [
    {"name": "Alice", "Chinese": 85, "English": 92, "Math": 78},
    {"name": "Bob", "Chinese": 75, "English": 88, "Math": 90},
    {"name": "Charlie", "Chinese": 90, "English": 85, "Math": 85},
    {"name": "David", "Chinese": 60, "English": 70, "Math": 80},
    {"name": "Eva", "Chinese": 95, "English": 98, "Math": 92},
    {"name": "Frank", "Chinese": 70, "English": 75, "Math": 68},
    {"name": "Grace", "Chinese": 88, "English": 82, "Math": 85},
    {"name": "Helen", "Chinese": 92, "English": 90, "Math": 94},
    {"name": "Ian", "Chinese": 78, "English": 80, "Math": 72},
    {"name": "Jane", "Chinese": 85, "English": 87, "Math": 89}
]

In [14]:
for student in students:
    if student['Chinese'] >= 80:
        print(student)

{'name': 'Alice', 'Chinese': 85, 'English': 92, 'Math': 78}
{'name': 'Charlie', 'Chinese': 90, 'English': 85, 'Math': 85}
{'name': 'Eva', 'Chinese': 95, 'English': 98, 'Math': 92}
{'name': 'Grace', 'Chinese': 88, 'English': 82, 'Math': 85}
{'name': 'Helen', 'Chinese': 92, 'English': 90, 'Math': 94}
{'name': 'Jane', 'Chinese': 85, 'English': 87, 'Math': 89}

### 使用comprehension的技巧

In [16]:
student_80 = [student for student in students if student['Chinese'] >= 80] #過濾
student_80

[{'name': 'Alice', 'Chinese': 85, 'English': 92, 'Math': 78},
 {'name': 'Charlie', 'Chinese': 90, 'English': 85, 'Math': 85},
 {'name': 'Eva', 'Chinese': 95, 'English': 98, 'Math': 92},
 {'name': 'Grace', 'Chinese': 88, 'English': 82, 'Math': 85},
 {'name': 'Helen', 'Chinese': 92, 'English': 90, 'Math': 94},
 {'name': 'Jane', 'Chinese': 85, 'English': 87, 'Math': 89}]